@import url('https://fonts.googleapis.com/css?family=Acme|Athiti|Chela+One&display=swap');


/*

usar nas classes de estilização

font-family: 'Chela One', cursive;
font-family: 'Athiti', sans-serif;
font-family: 'Acme', sans-serif;

*/